<h1>TODO1 EXERCIE1 </h1>
<table class="table" >

  <tr><th>reference</th><th>titre</th><th>entreprise</th> <th>etat</th> 
<tr *ngFor="let p of listeemploi">

  <td>{{p.reference}}</td>
  <td>{{p.titre}}</td>
  <td>{{p.entreprise}}</td>
  <td>{{p.etat}}</td>
 



  <input type="submit" value="postuler" [disabled]="p.etat==false">
</tr>
</table>
<hr>
<button (click)="bilan()">Bilan</button>
<hr>
<label>Search :</label>
<input type="text"  [(ngModel)]="search" placeholder="Search">
<div *ngFor="let p of listeemploi">
  <div *ngIf="p.entreprise==search ||search==''">
  {{p.reference}}
  {{p.titre}}
  {{p.entreprise}}
  {{p.etat}}
  </div>
</div>
<h1>TODO1 EXERCIE2 </h1>